body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}


#contact-form{
  margin-top: 10%;
  background-color: #fff;
  position: absolute;
  height: 60%;
  /*border: 2px solid blue;*/
  /*right: 20px;*/
  padding-top: 15px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

#details {
  top: 0;
  border: 2px solid red;
  height: 100%;
  position: absolute;
  left:0;
}

#map {
  top: 0;
  border: 2px solid blue;
  height:100%;
  position: absolute;
  right:0;
}

